body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.quiz-container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #0770df;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #3d2402;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

#result-container {
    display: none;
    margin-top: 20px;
}

#score {
    color: #010912;
    font-size: 24px;
}
